@import "scss/fontawesome.scss";
@import "scss/solid.scss";
@import "scss/brands.scss";

// mixins

@mixin easeOut {
  transition: all 0.5s ease-out;
}

@mixin background {
  @if $show-home-image {
    &#bg-img {
      background: $home-image;
      background-attachment: fixed;
      background-size: cover;
    }

    &#bg-img-solid {
      background: $non-home-background-color;
    }
  }
}

// Defined Variables

$primary-color: #fff;
$secondary-color: #003366;
$tertiary-color: #899aac;
$non-home-background-color: #eaf0f5;
$show-home-image: true;
$home-image: url(../img/background2.jpg);
$background-opacity: 0.9;

// Set text color
@function set-text-color($color) {
  @if (lightness($color) > 40) {
    @return #000;
  } @else {
    @return #fff;
  }
}

// Media query mixins
@mixin mediaSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}

@mixin mediaMd {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mediaLg {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}

@mixin mediaXL {
  @media screen and (min-width: 1171px) {
    @content;
  }
}
