// For wide screens

@include mediaXL {
  .math-projects {
    grid-template-columns: 1fr;
    grid-template-columns: fit-content(50%);
  }

  .teaching-projects {
    grid-template-columns: 1fr;
    grid-template-columns: fit-content(50%);
  }
}

// For desktops and laptops
@include mediaLg {
}

// For tablets and small laptops
@include mediaMd {
  main {
    align-items: center;
    text-align: center;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;
    max-height: 40vh;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 60vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }

  .menu-branding {
    backgroundheight: 25vh;
    transform: translate3d(100%, 0, 0);

    .portrait {
      background: url("../img/profile_small.jpg");
      width: 150px;
      height: 150px;
    }
  }

  .about-info {
    text-align: left;
    grid-template-areas:
      "bioimage"
      "bio"
      "job1"
      "job2"
      "job3";

    grid-template-columns: 1fr;

    .job {
      background: rgba(lighten($primary-color, 2), 0.1);
    }
  }
}

// For smart phones
@include mediaSm {
  main#home h1 {
    margin-top: 6vh;
  }
}
