@import "config";
@import "menu";

* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

// Headings

h1,
h2,
h3 {
  margin: 0;
  font-weight: 600;
  &.lg-heading {
    font-size: 5rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.1);
  }
}

// Links

a {
  color: #000;
  text-decoration: none;
}

// Header

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

// Text

.text-secondary {
  color: $secondary-color;
}

// Main styling

main {
  padding: 4rem;

  height: 100%;

  // this makes the footer stick to the bottom
  // min-height: calc(100vh - 60px);

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;
      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 10vh;
    }
  }

  &#about {
    h2 {
      quotes: "'" "'";
    }

    a {
      color: $secondary-color;
    }
  }
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "bioimage bio bio"
    "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr);

  .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: $secondary-color 3px solid;
  }

  .bio {
    grid-area: bio;
    font-size: 1.5rem;
  }

  .job-1 {
    grid-area: job1;
  }

  .job-2 {
    grid-area: job2;
  }

  .job-3 {
    grid-area: job3;
  }

  .job {
    background: rgba(lighten($primary-color, 2), 0.1);
    padding: 0.5rem;
  }
}

// Math projects
.math-projects {
  display: grid;
  grid-template-columns: fit-content(80%);
  grid-gap: 0.7rem;
  justify-content: center;
  justify-items: center;
  text-align: center;

  img {
    width: 100%;
    // find way to make the heights more uniform. Maybe use images that are same size
    border: 3px #fff solid;

    &:hover {
      opacity: 0.6;
      border-color: $secondary-color;
      @include easeOut;
    }
  }
}

// Teaching projects
.teaching-projects {
  display: grid;
  grid-template-columns: fit-content(80%);
  grid-gap: 0.7rem;
  justify-content: center;
  justify-items: center;
  text-align: left;

  ul {
    list-style-type: none;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 1rem;
    // find way to make the heights more uniform. Maybe use images that are same size
    border: 3px #fff solid;

    &:hover {
      opacity: 0.6;
      border-color: $secondary-color;
      @include easeOut;
    }
  }
}

// Contact Me pages
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;

  div {
    font-size: 2rem;
    border: 3px $secondary-color solid;
    padding: 1.5rem 2.5rem;
    background: #fff;
    margin-bottom: 3rem;
    @include easeOut;

    &:hover {
      padding: 1.2rem 2.2rem;
      background: darken($non-home-background-color, 20);
      color: set-text-color($primary-color);
    }
  }
}

// List of file links

.list-files {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.7rem;
  justify-content: center;
  justify-items: center;
  text-align: center;
  margin-top: 1rem;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: darken($non-home-background-color, 20);
    border: 1px solid $secondary-color;
  }

  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }

  li {
    text-align: center;
    border-bottom: 1px solid #555;
  }

  li:last-child {
    border-bottom: none;
  }

  li a.active {
    background-color: $secondary-color;
    color: white;
  }

  li a:hover:not(.active) {
    background-color: $secondary-color;
    color: white;
    @include easeOut;
  }
}

// Button Styles

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
  }
}

.btn-dark {
  @extend .btn;
  background: darken($secondary-color, 10);
  color: #fff;
}

.btn-light {
  @extend .btn;
  background: lighten($secondary-color, 10);
  color: #fff;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: rgba(lighten($primary-color, 2), 0.1);
  color: set-text-color($primary-color);
  height: 60px;
}

@import "mobile";
